@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.grow-shrink {
  animation: growShrink 1.5s ease-in-out infinite;
}
